.checkbox {
    position: absolute;
    z-index: 5;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.check-style {
    position: absolute;
    z-index: 5;
    top: 12px;
    left: 20px;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
}

.checkbox:checked+.check-style::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: #fff;
}

.checkbox:disabled .check-style {
    border-color: #ccc;
}

.checkbox:disabled+.check-style::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 10px;
    height: 10px;
    background-color: var(--color-bg);
}